In [1]:
import os
# move up from notebooks/ into the project root
os.chdir(os.path.dirname(os.getcwd()))
print("Working dir:", os.getcwd())

Working dir: /home/linam.palacios/code/Linchenpal/ClaimStreamAI

In [2]:
import pandas as pd

df = pd.read_csv("data/raw/insurance_claims.csv")

# Show the first 5 rows
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [5]:
df = pd.read_parquet("data/raw/simulated_stream_input/claims_200k_ml.parquet")
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39,claim_id,event_ts,country,currency
0,110.919593,33.428086,458021.056704,2006-09-07,OH,500/1000,1967.889465,1258.616894,4.072759e+06,604711.391256,...,45503.635459,Suburu,Legacy,2094.752959,N,NaN,564e04ee-74f8-45f5-99c2-21391ad926de,2025-05-27T08:50:53.437708,Italy,EUR
1,217.864888,42.064931,784742.986033,1997-06-18,IN,250/500,2070.984715,1610.309072,0.000000e+00,444893.105553,...,3290.320631,Volkswagen,Jetta,1960.521866,N,NaN,d6b3257c-7255-4548-97b1-706e74b6b6cf,2024-09-17T15:23:46.986879,Poland,EUR
2,243.234109,39.370761,324347.618586,1999-04-09,IN,500/1000,2026.884708,1193.695534,0.000000e+00,633851.865754,...,31655.624655,Dodge,RAM,2094.032280,N,NaN,0a0d1399-3407-4303-aa7f-79d8d9fce307,2025-06-29T07:55:32.579084,Germany,EUR
3,247.314101,43.197992,388881.850065,1996-01-23,OH,100/300,2055.485236,1188.120616,0.000000e+00,465259.847705,...,47761.214235,Nissan,Pathfinder,1979.018649,N,NaN,16c25326-9f7b-496f-be87-e2c655655729,2024-09-06T16:09:27.253152,Spain,EUR
4,277.092351,47.161201,226808.707630,1995-08-29,IL,500/1000,490.771706,1151.546972,8.043732e+06,451038.043976,...,33079.761840,Accura,TL,2080.012906,N,NaN,2fdad639-492a-4a4a-9ac0-9e55c1e19bb4,2025-05-28T11:59:39.701960,France,EUR